.form-center{
    margin-top: 5%;
    text-align: center;
}

.form-center form {
    width: 25%;
    display: inline-grid;
    box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
    padding: 2%;
}

.form-center form label{
    display: contents;
}

.form-center form label span {
    text-align: left;
}

.form-center form label input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.form-center form div button {
    width: 50%;
    margin-top: 2% !important;
    left: 8%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    transition: all 250ms;
}

.form-center form .descript-login {
    position: absolute;
    right: 52vw;
    top: 45vh;
    width: 23vw;
    text-align: left;
}

.form-center form div button:hover,
.form-center form div button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.form-center form div button:hover {
  transform: translateY(-1px);
}

.form-center form div button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}