#log-out-btn {
    height: 6vh;
    background-color: white;
    border: 0;
    padding: 1rem;
    color: white;
    font-weight: 600;
    font-size: large;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  }